<!DOCTYPE html>
<html lang="ua">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <h1 id="welcome">Welcome, %LOGIN%!</h1>
    <form id="avatarForm" enctype="multipart/form-data" method="POST" action="/upload-avatar">
      <input type="file" name="avatarInput" accept="image/*" required>
      <button type="submit">Upload Avatar</button>
    </form>
    <h2>Your Avatar</h2>
    <img id="avatar" src="" alt="User Avatar">
    <div class="btn-container">
      <a class="btn-home" href="logout">Log Out</a>
      <a class="btn-home" href="../game">Go to game</a>
    </div>
  </div>
  <script src="/js/uploadAvatar.js"></script>
  <script>
    window.onload = function () {
      fetch('../user/user-avatar')
        .then(response => response.json())
        .then(data => {
          const avatarSrc = data.avatar ? data.avatar : '/images/default-avatar.png';
          document.getElementById('avatar').src = avatarSrc;
        })
        .catch(error => console.error('Error fetching avatar:', error));
    };
  </script>
</body>

</html>