<!DOCTYPE html>
<html lang="ua">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <form action="/user/login" method="POST">

      <label for="login">Login:</label>
      <input type="text" id="login" name="login" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
    </form>
    <div id="links">
      <a href="registration">Sign Up</a>
      <a href="password-reminder" id="pass-remind">Remind password</a>
    </div>
  </div>
</body>

</html>