<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Battle</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Marvel Battle</h1>
        <div class="btn-container-row">
            <button class="btn-game" id="find-game">Find Game</button>
            <button class="btn-game" id="home">Go to home</button>
        </div>
    </div>

    <script>
        document.getElementById('find-game').addEventListener('click', () => {
            fetch('game/find-game', {
                method: 'POST'
            }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            });
        });

        document.getElementById('home').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>
