<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <form action="/user/password-reminder" method="POST">

      <label for="email">Enter your email to recover your password:</label>
      <input type="email" id="email" name="email" required>

      <button type="submit">Send me email!</button>
    </form>
  </div>
</body>
</html>